body {
    margin: 0;
    font-family: nunito sans, arial;
}

body * {
    box-sizing: border-box;
}



.button {
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
outline: 0;
border: 0;
padding: 13px 33px;
color: white;
text-transform: uppercase;
}

.logo {
    color:#E3B873;
    
}

.header {
    background-color: black;
    
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    
}

.header-nav {
    list-style: none;
    display: flex;

}

.header-nav_item {
    margin-right: 47px;
    
}

.header-nav_item a {
    text-decoration: none;
    color: white;
}

.main-section {
    background-image: url(/image/image1.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.img-main {
    position: relative;
    z-index: 1;}

.main-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.title {
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;
color: #FFFFFF;
}



.text-main p {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;


color: #FFFFFF;
}

.text-main {
    padding-left: 134px;
    
}

.submit {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.0);

}

h1 span {
    color: #E3B873;
}

.text-main p {
    margin-top: -20px;
}

.page-2-nav {
    background-color: #131313;
    Height: 1074px;
}
.page2-nav {
display: flex;
justify-content: right;
height: 83px;
align-items: center; }

.page2-nav_item {
    margin-right: 60px;
    list-style: none;
    margin-top: 107px;
    }

.page2-nav_item a {
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.3);
}

.active a {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
}

.left-block h1 {
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 37px;
letter-spacing: -0.07em;
text-transform: uppercase;

color: #E3B873;
}

.plus-h1 {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 27px;

color: #FFFFFF;
}

.left-block p {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;

color: #FFFFFF;
}

.left-block h2 {
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-transform: uppercase;

color: #E3B873;
}

.page-2-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rigth-block {
    margin-left: 134px;
    margin-top: 50px;
}

.three {
    margin-right: 194px;
}

.left-block-row1 {
    display: flex;
    flex-direction: column;
}

.left-block-tabl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

