body {
    margin: 0;
    font-family: nunito sans, arial;
}

body * {
    box-sizing: border-box;
}



.button {
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
outline: 0;
border: 0;
padding: 13px 33px;
color: white;
text-transform: uppercase;
}

.logo {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-transform: uppercase;

color: #E3B873;
}

.header {
    background-color: black;
    height: 83px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    
}

.header-nav {
    list-style: none;
    display: flex;

}

.header-nav_item {
    margin-right: 47px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;

color: #FFFFFF;
}

.tel a {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: right;
text-decoration-line: underline;

color: #E3B873;

}

.header-nav_item a {
    text-decoration: none;
    color: white;
}

.main-section {
    background-image: url(/image/image1.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.img-main {
    position: relative;
    z-index: 1;}

.main-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.title {
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;
color: #FFFFFF;
}



.text-main p {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;


color: #FFFFFF;
}

.text-main {
    padding-left: 134px;
    
}

.submit {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.0);

}

h1 span {
    color: #E3B873;
}

.text-main p {
    margin-top: -20px;
}

.page2-background{
    background-color: #131313;
    Height: 1074px;
}

.main-block-center {
    max-width: 1171px;
    margin: auto;
}

.center-nav a {
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.3);
}

.active a {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    
}

.left-block-h1 {
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 37px;
letter-spacing: -0.07em;
text-transform: uppercase;

color: #E3B873;
margin-bottom: 34px;
}

.plus-h1 {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 27px;

color: #FFFFFF;
}

.left-block p {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
color: #FFFFFF;

}

.left-block-p {
    margin-bottom: 42px;
}

.left-block h2 {
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-transform: uppercase;

color: #E3B873;
}

.page2-back {
    background-color: #131313;
    height: 1074px;

}

.center-block{
    max-width: 1171px;
    margin: auto;
    padding-top: 60px;
}

.center-nav {
    display: flex;
    justify-content: right;
    margin-right: 20px;
}

.center-nav li {
    margin-right: 60px;
    list-style: none;
}

.left-rigth-block {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.img-room {
height: 482px;
width: 679px;
}

.left-block {
    max-width: 442px;
    justify-content: left;
}

.left-block-tabl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.arrow-block {
    display: flex;
    justify-content: left;
    margin-top: 80px;
    align-items: center;
}

.circle {
    margin-left: 16px;
}

.arrow-r {
    margin-left: 16px;
}

.online {
    font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 92px;
}

.camera-img {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.camera-img img {
    margin-right: 7px;
}

.video-center {
    display: flex;
    justify-content: center;
    margin-top: 31px;
    position: relative;
}

.video-center:after{
content: '';
height: 434px;
width: 817px;
position: absolute;
background-color: rgba(0,0,0,0.8);
}

.line-center {
    margin-top: 62px;
    display: flex;
    justify-content: center;
    }

.rewiew-center {
    max-width: 681px;
    display: flex;
    justify-content: center;
    margin: auto;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 37px;
text-align: center;
color: #363636;
margin-top: 20px;
}